In [1]:
import numpy as np
import pandas as pd

In [2]:
horses = pd.read_csv('./../data/horses.csv')
races = pd.read_csv('./../data/races.csv')

/home/karisch/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
horses['placeFin'] = pd.Series([np.nan] * horses.shape[0])
for i in reversed(range(1, 7)):
    horses.loc[horses['placeFin'].isnull(),'placeFin'] = horses.loc[horses['placeFin'].isnull(), 'placeSeg' + str(i)]

In [3]:
horses = horses.sort_values(by=['date', 'track', 'race', 'odds'])

In [28]:
df = horses
flagColName = 'newRace'
cols = ['date', 'track', 'race']
flagged = flagNew(df, flagColName, cols)

In [29]:
flagged['oddsRank'] = pd.Series([0] * flagged.shape[0])
indices = flagged['newRace'].copy()
for i in range(1, 25):
    flagged.loc[indices & (flagged['oddsRank'] == 0), 'oddsRank'] = i
    indices = pd.concat([pd.Series(False), indices])
    indices = indices[:-1]
    indices.index = flagged.index

In [31]:
flagged.head(1000).to_csv('penis.csv')

In [15]:
jack = flagged['newRace'].copy()
jack = pd.concat([pd.Series(False), jack])
jack = jack[:-1]

In [16]:
jack

0         False
115159     True
115157    False
115158    False
115161    False
          ...
117433    False
117441    False
117440    False
117434    False
117439    False
Length: 356260, dtype: object

In [158]:
cnt = 1
flagged['oddsRank'] = pd.Series([0] * flagged.shape[0])
flagged.loc[flagged['newRace'], 'oddRank'] = 1
for i in flagged.index:
    if flagged.loc[i, 'newRace']:
        cnt = 1
    flagged.loc[i, 'oddsRank'] = cnt
    cnt += 1

In [150]:
cop = horses[cols].copy()
cop = pd.concat([pd.DataFrame([cop.iloc[-1, :].copy()]), cop])
cop = cop.iloc[:-1, :]
cop

              date track  race
117443  2021-06-24    WO     8
115159  2020-01-01   AQU     1
115157  2020-01-01   AQU     1
115158  2020-01-01   AQU     1
115161  2020-01-01   AQU     1
...            ...   ...   ...
117433  2021-06-24    WO     8
117441  2021-06-24    WO     8
117440  2021-06-24    WO     8
117434  2021-06-24    WO     8
117439  2021-06-24    WO     8

[356260 rows x 3 columns]

In [58]:
cop

              date track  race
115159  2020-01-01   AQU   1.0
115157  2020-01-01   AQU   1.0
115158  2020-01-01   AQU   1.0
115161  2020-01-01   AQU   1.0
115160  2020-01-01   AQU   1.0
...            ...   ...   ...
117441  2021-06-24    WO   8.0
117440  2021-06-24    WO   8.0
117434  2021-06-24    WO   8.0
117439  2021-06-24    WO   8.0
117443         NaN   NaN   NaN

[356260 rows x 3 columns]